{% extends "core/base.html" %}
{% block title %}
  Scan QR
{% endblock title %}


{% block content %}
  
<div class="center-container">
    <div class="container">
        <h2>Scan QR Code</h2>
        <form action="{% url 'scan_qr' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="mobile_number" placeholder="Enter Mobile Number" required pattern="\d{10}">
            <input type="file" name="qr_image" accept="images/*" id="qr_input">
            <button type="submit">Scan</button>
        </form>
        <h2>{{result}}</h2>
    </div>
</div>
{% endblock content %}